# Зависимости
node_modules/

# Логи фреймворка и системные логи
logs/
*.log
npm-debug.log*

# Временные папки и отчеты WebdriverIO
.tmp/
allure-results/
allure-report/

# Конфиденциальные данные (если появятся .env файлы)
.env

# Специфичные файлы операционных систем
.DS_Store
Thumbs.db

# Если вы решили НЕ хранить APK-файлы в репозитории, раскомментируйте строку ниже:
*.apk

NativeDemoApp.apk